beautifulsoup4==4.4.1
colorama==0.3.7
Cython==0.24
Django==1.11
gunicorn==19.7.1
jnius==1.1.dev0
mongoengine==0.13.0
py==1.4.31
pyhdb==0.3.3
pymongo==3.4.0
pytest==2.9.2
pytz==2017.2
requests==2.9.1
six==1.10.0
SQLAlchemy==1.0.12
whitenoise==3.3.0
