@import url('https://fonts.googleapis.com/css?family=Rubik');

/*
Base Formatting
*/
h1 a {
    color: #FCA205;
}

li {
    list-style: none;
}

body {
    font-family: 'Rubik', sans-serif;
    color: #000000;
    background: #8642A0;
    padding-left: 15px;
}

.page-header {
    background-color: #68347f;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

/*
Index Formatting
*/
.top_tracks {
    background-color: #68347f;
}

/*
Form Button Formatting
*/
.btn-primary {
    background: #592c6d;
    color: #ffffff;
    border-color: #592c6d;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #68347f;
    border-color: #68347f;
}

.btn-primary:active, .btn-primary.active {
    background: #4a255b;
    border-color: #4a255b;
    box-shadow: none;
}