{% extends 'manage_music/base.html' %}

{% block content %}
    <h1>Top Tracks</h1>

    {% if top_alphabetical_track_list %}
        <ul>
        {% for track in top_alphabetical_track_list %}
            <li>
                <strong>{{ track.name }}</strong> by
                {% for artist in track.artists %}
                    <strong>{{ artist.name }} </strong>
                {% endfor %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No tracks are available.</p>
    {% endif %}

    <h1>Add Track</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'manage_music:add_track' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
        <label for="track_name">Track: </label>
        <input type="text" name="track_name" id="track_name" class="form-control" />
        </div>
        <div class="form-group">
        <label for="track_artist">Artist: </label>
        <input type="text" name="track_artist" id="track_artist" class="form-control" />
        </div>
        <input type="submit" class="btn btn-primary" value="Add Track" />
    </form>
{% endblock %}
